---
layout: event-wrapper
menu:
  - name: Home
    url: /20251/index
  - name: Atividades
    url: /20251/atividades
  - name: Aulas
    url: /20251/aulas
  - name: Avaliações
    url: /20251/avaliacoes
  - name: Trabalhos
    url: /20251/trabalhos

---

{% include partials/navigation.html -%}

{% include partials/title.html %}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">

        {{ content }}

      </div>
    </div>
  </div>
</section>

